*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: Montserrat;
    font-weight: 500;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    @include media-tablet {
        padding: 0;
        width: 720px;
    }
    @media (min-width: 992px) {
        width: 960px;
    }
    @include media-laptop {
        width: 1140px;
    } 
}

.title {
    position: relative;    
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 36px;
    &--left {
        padding-left: 10px;
        text-align: left;
        @include orange-round-left;
    }
    &--center {        
        text-align: center;
        @include orange-round-center;
    }
}

.subtitle {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    @include media-tablet {        
        font-size: 28px;
        line-height: 48px;
    }
    @include media-laptop {
        font-size: 36px;
        line-height: 60px;
    } 
    @media (max-width: 340px) {
        font-size: 22px;        
    }
}

.btn {
    display: block;    
    width: 135px;
    height: 45px;
    color: #000000;    
    font-weight: bold;
    font-size: 14px;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    background-color: #FFA501;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color .3s;
    cursor: pointer;
    &:hover, &:active {
        background-color: rgba($color: $main-color, $alpha: 0.8);        
    }
    &--transparent {
        background-color: transparent;
        box-shadow: none;
        &:hover, &:active {
            background-color: transparent;
        }
    }      
}

.divider {
    width: 60px;
    height: 3px;
    background-color: $main-color;
    &--left {
        margin: 0 auto 0 0;
    }
    &--center {
        margin: 0 auto;
    }
}
