.socials {
    display: none;
    &--hidden {
        display: none;
    }
    @media (min-width: 1390px) {
        position: fixed;
        left: 50px;
        top: 565px;
        z-index: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-width: 340px;
        transform-origin: 0 0;
        transform: rotate(-90deg);
    }
}

.socials__text {
    position: relative;
    padding-right: 100px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    &::after {
        content: '';
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 70px;
        height: 2px;
        background-color: #000000;        
    }
}